.admin {
  background-color: #ebebec;
  min-height: calc(100vh - 120px);
}

.admin h3 {
  text-align: center;
  margin-top: 0px;
}

.admin .content {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.admin .product-form {
  flex: 3;
  max-width: 400px;
  background: white;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  padding: 10px;
}

.admin .coupons-form {
  flex: 2;
  max-width: 300px;
  background: white;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  padding: 15px;
}

.admin h5 {
  text-align: center;
  color: rgb(20, 18, 138);
  margin-bottom: 10px;
}

.my-controls {
  margin-bottom: 10px;
  display: flex;
}

.my-controls label {
  width: 75px;
  text-align: right;
  color: #333;
  font-family: "Segoe UI", Tahoma, sans-serif;
  margin-right: 5px;
}

.my-controls input {
  flex: 1;
}

.center {
  text-align: center;
}

.btn {
  margin-left: 80px;
}
