.footer {
    display: flex;
    padding: 20px 10px 10px 10px;
    background-color: rgb(32, 13, 106);
    border-top: 1px solid #000000;
    border-radius: 2px;
    color: white;
}

.footer div {
    flex: 1;
}

footer.name {
    text-align: center;
}

footer.year {
    text-align: center;
}